@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;

  font-size: 15px;
}

body {
  @apply text-gray-800 bg-white p-4 lg:p-8;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-gray-900 text-gray-200;
  }
}
