@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;

  scroll-behavior: smooth;

  font-size: 15px;

  &.dark {
    color-scheme: dark;
  }
}

* {
  @apply outline-black dark:outline-white
  selection:bg-gray-200 selection:text-black
  dark:selection:bg-gray-700 dark:selection:text-white;
}

body {
  @apply text-gray-800 dark:text-gray-300 bg-white dark:bg-gray-900 px-0 md:px-4 pt-4 pb-20 md:pt-8 md:pb-48 relative min-h-screen;
}

body,
html {
  overflow-x: hidden;
}
