@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;

  scroll-behavior: smooth;

  font-size: 15px;

  &.dark {
    color-scheme: dark;
  }
}

* {
  @apply outline-black selection:bg-gray-200
  selection:text-black dark:outline-white
  dark:selection:bg-gray-700 dark:selection:text-white;
}

body {
  @apply relative min-h-screen bg-white p-4 text-gray-800 dark:bg-gray-900 dark:text-gray-300 md:p-8;
}
