/* brygada-1918-latin-variable-wghtOnly-normal */
@font-face {
  font-family: "Brygada 1918";
  font-style: normal;
  font-display: block;
  font-weight: 400 700;
  src: url("@fontsource/brygada-1918/files/brygada-1918-latin-variable-wghtOnly-normal.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* brygada-1918-latin-variable-wghtOnly-italic */
@font-face {
  font-family: "Brygada 1918";
  font-style: italic;
  font-display: block;
  font-weight: 400 700;
  src: url("@fontsource/brygada-1918/files/brygada-1918-latin-variable-wghtOnly-italic.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* inter-latin-variable-wghtOnly-normal */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
  src: url("@fontsource/inter/files/inter-latin-variable-wghtOnly-normal.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
