.zaduma-prose {
  /* TODO: Get rid of thesse two and apply Tailwind styles */
  --sans: "Inter";
  --serif: "Brygada 1918";
  --italic-serif: italic 444 1.15em var(--serif);

  @apply max-w-2xl;

  & > :not(:last-child) {
    margin-bottom: 1.5rem;
  }

  /* #region text — p, em, and strong */

  & p {
    line-height: 1.7;
  }

  & em {
    font: var(--italic-serif);
  }

  & strong,
  & strong > em {
    font-weight: 700;
  }

  /* #endregion */

  /* #region lists */

  & ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1em;
  }

  & ol {
    counter-reset: ol;
    list-style-type: none;
    padding: 0;

    & li {
      text-indent: -1.5em;
      padding-left: 1.5em;

      &:before {
        @apply text-gray-600 dark:text-gray-400;

        counter-increment: ol;
        content: counter(ol) ".";
        font: var(--italic-serif);
        font-size: 1em;
        font-weight: 700;

        display: inline-flex;
        align-items: center;
        justify-content: flex-end;

        text-align: right;
        min-width: 0.75em;
        margin-right: 0.5em;
        user-select: none;
      }
    }
  }

  /* #endregion */

  /* #region text boxes — blockquote and aside */

  /*
   * Example of blockquote with attribution:
   *
   *  <figure>
   *    <blockquote cite="https://www.huxley.net/bnw/four.html">
   *      <p>Words can be like X-rays, if you use them properly—they’ll go through anything. You read and you’re pierced.</p>
   *    </blockquote>
   *    <figcaption>
   *      —Aldous Huxley, <cite>
   *        <a href="https://www.huxley.net/bnw/four.html">
   *          Brave New World
   *        </a>
   *      </cite>
   *    </figcaption>
   *  </figure>
   */

  & blockquote {
    @apply bg-gray-100 dark:bg-gray-800 rounded-sm py-4 px-6;

    font: 444 1.15em var(--serif);

    position: relative;
    quotes: "“" "”" "‘" "’";

    &:after,
    &:before {
      @apply text-4xl leading-none text-gray-300 dark:text-gray-600 font-black;
      position: absolute;
    }

    &:before {
      content: open-quote;
      top: 0;
      left: 0;
      transform: translate(-50%, -0.5rem);
    }

    &:after {
      content: close-quote;
      bottom: 0;
      right: 0;
      transform: translate(50%, calc(50% + 0.25rem));
    }
  }

  & figure > figcaption {
    @apply px-6;
    font: italic 400 1em var(--serif);
    @apply text-gray-600 dark:text-gray-400;
  }

  /* #endregion */

  /* #region headings — h1, h2, h3... */

  & :where(h1, h2, h3, h4, h5, h6) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    font: 555 1em var(--sans);

    &::before {
      @apply text-gray-400 dark:text-gray-600;
    }
  }

  & > h1::before {
    content: "# ";
  }
  & > h2::before {
    content: "## ";
  }
  & > h3::before {
    content: "### ";
  }

  & aside {
  }

  /* #endregion */

  /* #region code snippets — code and pre */

  & code {
    @apply font-mono;
    /* We decrease letter spacing to make inline code stand out less from the
       surrounding text. */
    letter-spacing: -0.01em;
  }

  & pre {
    @apply md:rounded-md text-sm -mx-4 p-4 overflow-x-auto;

    tab-size: 2;

    & code {
      /* Reset letter-spacing that was increased above. */
      letter-spacing: unset;
    }
  }

  /* #endregion */

  /* #region table */

  & table {
    border-collapse: collapse;
    table-layout: fixed;
  }

  & thead {
    @apply border-b;
  }

  & th {
    text-align: left;
  }

  & th,
  & td {
    @apply py-1 px-2 md:px-4;
  }

  /* #endregion table */
}
