/* Dual-theme: Astro 5 renders a single <pre> with both theme classes and CSS
   variables. Light colors are in the default properties, dark colors use
   --shiki-dark-* variables. We swap them via html.dark. */
.astro-code-themes {
  background-color: transparent !important;
  color: inherit !important;
}

html.dark .astro-code-themes {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

html.dark .astro-code-themes span {
  color: var(--shiki-dark) !important;
}

/* --- Code blocks --- */

pre.astro-code {
  overflow-x: auto;
}
pre.astro-code:hover .dim {
  opacity: 1;
}
pre.astro-code div.dim {
  opacity: 0.5;
}
pre.astro-code div.dim,
pre.astro-code div.highlight {
  margin: 0;
  padding: 0;
}
pre.astro-code div.highlight {
  opacity: 1;
  background-color: #f1f8ff;
}
pre.astro-code div.line {
  min-height: 1rem;
}

/* Visually differentiates twoslash code samples */
pre.twoslash {
  border-color: #719af4;
}

/* --- Twoslash hover --- */

.twoslash-hover {
  border-bottom: 1px dotted transparent;
  transition-timing-function: ease;
  transition: border-color 0.3s;
}

pre.twoslash:hover .twoslash-hover {
  border-color: #747474;
}

.twoslash-popup-container {
  display: none;
  position: absolute;
  transform: translate(0, 1rem);
  z-index: 100;

  @apply bg-white text-gray-900 border border-gray-200 shadow-sm px-3 p-2 rounded-sm
         dark:bg-black dark:text-gray-50 dark:border-gray-700 dark:shadow-md;

  text-align: left;
  white-space: pre-wrap;
}

.twoslash-hover:hover > .twoslash-popup-container {
  display: block;
}

.twoslash-popup-code {
  font-family: inherit;
}

@media (prefers-reduced-motion: reduce) {
  .twoslash-hover {
    transition: none;
  }
}

/* --- Twoslash errors --- */

pre .twoslash-error {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 3px;
}

/* --- Code container --- */

pre .code-container {
  overflow: auto;
}

pre code {
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}
pre code a {
  text-decoration: none;
}

/* --- Query/Error blocks --- */

pre .query {
  margin-bottom: 10px;
  color: #137998;
  display: inline-block;
}

pre .error,
pre .error-behind {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  width: var(--container-width);
  white-space: pre-wrap;
  display: block;
}
pre .error {
  @apply bg-gray-100 dark:bg-gray-800 dark:text-white;
  position: absolute;
  border-left: 2px solid #bf1818;
  display: flex;
  align-items: center;
}
pre .error .code {
  display: none;
}
pre .error-behind {
  user-select: none;
  visibility: transparent;
  color: #fee;
}

/* --- Annotations --- */

.tag-container {
  position: relative;
}
.tag-container .twoslash-annotation {
  position: absolute;
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, Courier New, monospace;
  right: -10px;
  width: 200px;
  color: #187abf;
  background-color: #fcf3d9bb;
}
.tag-container .twoslash-annotation p {
  text-align: left;
  font-size: 0.8rem;
  line-height: 0.9rem;
}
.tag-container .twoslash-annotation svg {
  float: left;
  margin-left: -44px;
}
.tag-container .twoslash-annotation.left {
  right: auto;
  left: -200px;
}
.tag-container .twoslash-annotation.left svg {
  float: right;
  margin-right: -5px;
}

/* --- Console log/warn/error --- */

pre .logger {
  display: flex;
  align-items: center;
  color: black;
  padding: 6px;
  padding-left: 8px;
  width: calc(100% - 19px);
  white-space: pre-wrap;
}
pre .logger svg {
  margin-right: 9px;
}
pre .logger.error-log {
  background-color: #fee;
  border-left: 2px solid #bf1818;
}
pre .logger.warn-log {
  background-color: #ffe;
  border-left: 2px solid #eae662;
}
pre .logger.log-log {
  background-color: #e9e9e9;
  border-left: 2px solid #ababab;
}
pre .logger.log-log svg {
  margin-left: 6px;
  margin-right: 9px;
}

/* --- Completions --- */

pre .inline-completions ul.dropdown {
  display: inline-block;
  position: absolute;
  width: 240px;
  background-color: gainsboro;
  color: grey;
  padding-top: 4px;
  font-family: var(--code-font);
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  border-left: 4px solid #4b9edd;
}
pre .inline-completions ul.dropdown::before {
  background-color: #4b9edd;
  width: 2px;
  position: absolute;
  top: -1.2rem;
  left: -3px;
  content: " ";
}
pre .inline-completions ul.dropdown li {
  overflow-x: hidden;
  padding-left: 4px;
  margin-bottom: 4px;
}
pre .inline-completions ul.dropdown li.deprecated {
  text-decoration: line-through;
}
pre .inline-completions ul.dropdown li span.result-found {
  color: #4b9edd;
}
pre .inline-completions ul.dropdown li span.result {
  width: 100px;
  color: black;
  display: inline-block;
}
