---
import type { MarkdownHeading } from "astro";

import { Link } from "../Link";

import { HeadingsIntersectionHighlight } from "./HeadingsIntersectionHighlight";
import { PostProgressBar } from "./PostProgressBar";

export interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
const tocShown = headings.length > 2;

---

{tocShown && <section
  class="fixed left-[max(0px,calc(50%-43rem/2-20rem-1rem))] top-16 w-[calc(20rem-(var(--wide-content-width)-var(--container-width))/2)] max-h-full overflow-y-auto p-4 pr-0 hidden xl:block"
>
  <PostProgressBar client:media="(min-width: 1280px)">
    <ul
      id="table-of-contents"
      class="text-gray-700 dark:text-gray-400 text-sm leading-6"
    >
      {
        headings.map(({ text, depth, slug }) => {
          if (depth < 2 || depth > 3) return null;

          return (
            <li class:list={{ "ml-4": depth === 3 }}>
              <Link
                noUnderline
                href={"#" + slug}
                class="dark:current:text-white current:text-black current:font-semibold"
              >
                {text}
              </Link>
            </li>
          );
        })
      }
    </ul>
  </PostProgressBar>
  <HeadingsIntersectionHighlight
    headings={headings}
    client:media="(min-width: 1280px)"
  />
  <style>
    #table-of-contents:hover {
      & a:not(:hover) {
        @apply text-gray-600 transition-colors;
        :global(.dark) & {
          @apply text-gray-500;
        }
      }

      & a:hover {
        :global(.dark) & {
          @apply text-gray-300;
        }
      }
    }
  </style>
</section>
}
