---
import { createHmac } from "node:crypto";

import type { OgFunctionSearchParams } from "../../api/og";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Link } from "../lib/Link";
import type { PostFrontmatter } from "../types";

const OG_IMAGE_SECRET = import.meta.env.OG_IMAGE_SECRET;

const posts = await Astro.glob<PostFrontmatter>("../../posts/**/*.mdx");

const linksToOGImages = posts.map((post) => {
  const frontmatter = post.frontmatter;

  const searchParams: OgFunctionSearchParams = {
    title: frontmatter.title,
    readingTime: frontmatter.readingTime.minutes,
    date: new Date(frontmatter.date).getTime(),
  };

  const hmac = createHmac("sha256", OG_IMAGE_SECRET);
  hmac.update(JSON.stringify({ a: 10 }));
  searchParams.token = hmac.digest("hex");

  return `/api/og?${new URLSearchParams(
    searchParams as unknown as Record<string, string>
  ).toString()}`;
});
---

<BaseLayout title="admin">
  <div>
    <ul class="flex flex-col">
      {
        linksToOGImages.map((link) => (
          <li class="p-2 w-full overflow-hidden">
            <Link
              href={link}
              noUnderline
              class="flex flex-row gap-2 w-full text-sm break-all"
            >
              <span>{link}</span>
              <img width="320px" src={link} />
            </Link>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
