---
import BaseLayout from "../layouts/BaseLayout.astro";
import { formatDate } from "../lib/formatDate";
import { Link } from "../lib/Link";
import { Paragraph } from "../lib/prose/Paragraph";
import type { PostFrontmatter } from "../types";

import PhotoSwipeLightbox from "photoswipe/lightbox";
import "photoswipe/dist/photoswipe.css";

import LatestStream from "../components/LatestStream.astro";

let posts = await Astro.glob<PostFrontmatter>("../../posts/journal/*.mdx");

if (import.meta.env.PROD) {
  posts = posts.filter((post) => !post.frontmatter.draft);
}

posts.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});

// import Plyr from 'plyr';

// const player = new Plyr('#player');
---

<BaseLayout title="edson">
  <h1 slot="header-content" class="text-textSpecial">edson</h1>
  <main class="py-10 zaduma-prose">
    <Paragraph>
      <small class="text-gray-600 dark:text-gray-500"
        >per audacia ad astra {'>>'} from adversity to the stars</small
      >
      <br />
      I'm a product manager at <Link href="https://company.onefootball.com/">OneFootball</Link>. A third culture kid with a passion for seasoned food, photography, video games, writing and knowing when something should become tech debt.
    </Paragraph>
    <Paragraph class="mt-6">
      Learn more about me by checking out
      <Link href="https://drive.google.com/file/d/1IbeLvscALmKHxZiRmAMtGk4s9xnkO-EZ/view?usp=drive">my resume</Link>, or reading the posts below.
      <br>Have a wonderful day!
    </Paragraph>
  </main>

  <LatestStream />

  <ul>
    {
      posts.map(({ frontmatter }) => {
        const date = new Date(frontmatter.date);

        return (
          <li>
            <Link
              href={frontmatter.path}
              class="flex flex-row gap-2 justify-between"
              noUnderline
            >
              <h2 class="text-proseTitle ">{frontmatter.title}</h2>
              <time
                datetime={date.toISOString()}
                class="text-proseDate tabular-nums tracking-tighter shrink-0"
              >
                {formatDate(date)}
              </time>
            </Link>
          </li>
        );
      })
    }
  </ul>

  <style>
    ul:hover li:not(:hover) :where(h2, time) {
      @apply text-[#737373] transition-colors;
      /* :global(.dark) & {
        @apply text-gray-500;
      } */
    }
  </style>
</BaseLayout>

