---
import type { PostProps } from "../types";

const posts: PostProps[] = await Astro.glob("./**/*.{md,mdx}");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <h1>zaduma</h1>
    <ul>
      {
        posts.map((post) => {
          return (
            <li>
              <a href={post.url}>
								<h2>{post.frontmatter.title}</h2>
								<time>{post.frontmatter.date}</time>
							</a>
            </li>
          );
        })
      }
    </ul>
  </body>
</html>
