---
import BaseLayout from "../layouts/BaseLayout.astro";
import { formatDate } from "../lib/formatDate";
import { Link } from "../lib/Link";
import type { PostFrontmatter } from "../types";

const posts = await Astro.glob<PostFrontmatter>("../../posts/**/*.mdx");
posts.sort((a, b) => {
  return (
    new Date(a.frontmatter.date).getTime() -
    new Date(b.frontmatter.date).getTime()
  );
});
---

<BaseLayout title="zaduma">
  <h1 slot="header-content" class="text-gray-600 dark:text-gray-500">zaduma</h1>
  <main class="py-10 zaduma-prose">
    <p class="max-w-container">
      <small class="text-gray-600 dark:text-gray-500"
        >IPA /zaˈdu.ma/ — reverie, musing</small
      >
      <br />
      is an Astro starter template for understated personal websites
    </p>
    <p class="mt-6">
      Learn about it by reading the articles below, take a look at the
      <Link href="https://github.com/hasparus/zaduma">readme</Link>, or boldly
      <Link href="https://github.com/hasparus/zaduma/generate">
        create a new repository</Link
      >. I wish you a pleasant journey.
    </p>
  </main>
  <ul class="max-w-container">
    {
      posts.map(({ frontmatter }) => {
        const date = new Date(frontmatter.date);
        return (
          <li>
            <Link
              href={frontmatter.path}
              class="flex flex-row gap-2 justify-between"
              noUnderline
            >
              <h2 class="text-gray-800 dark:text-gray-300 font-sans">
                {frontmatter.title}
              </h2>
              <time
                datetime={date.toISOString()}
                class="text-gray-600 dark:text-gray-400"
              >
                {formatDate(date)}
              </time>
            </Link>
          </li>
        );
      })
    }
  </ul>
  <style>
    ul:hover li:not(:hover) :where(h2, time) {
      @apply text-gray-600 dark:text-gray-500 transition-colors;
    }
  </style>
</BaseLayout>
