.zaduma-prose {
  & > p {
    @apply max-w-2xl;
  }

  & :where(h1, h2, h3, h4, h5, h6) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  & > :not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
