---
import type { MarkdownLayoutProps } from "astro";

import { formatDate } from "../lib/formatDate";
import type { PostFrontmatter } from "../types";

import BaseLayout from "./BaseLayout.astro";

import "../global-styles/prose.css";
import "../global-styles/shiki.css";

type Props = MarkdownLayoutProps<PostFrontmatter>;

const { frontmatter } = Astro.props;

console.log("frontmatter.readingTime", frontmatter.readingTime);

const date = new Date(frontmatter.date);
---

<BaseLayout title={frontmatter.title}>
  <main class="zaduma-prose py-4">
    <header class="flex justify-between items-center">
      <h1 class="!my-0">{frontmatter.title}</h1>
      <time
        datetime={date.toISOString()}
        class="text-gray-600 dark:text-gray-400"
      >
        {formatDate(date)}
      </time>
    </header>
    <slot />
  </main>
</BaseLayout>
