---
import type { MarkdownLayoutProps } from "astro";

import { formatDate } from "../lib/formatDate";
import { Link } from "../lib/Link";

import BaseLayout from "./BaseLayout.astro";

import "../global-styles/prose.css";
import "../global-styles/shiki.css";

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
}>;

const { frontmatter } = Astro.props;

const date = new Date(frontmatter.date);
---

<BaseLayout title={frontmatter.title}>
  <main class="zaduma-prose">
    <header class="flex justify-between items-center max-w-2xl -mt-2">
      <Link href="/">← back</Link>
      <time
        datetime={date.toISOString()}
        class="text-gray-600 dark:text-gray-400"
      >
        {formatDate(date)}
      </time>
    </header>
    <h1>{frontmatter.title}</h1>
    <slot />
  </main>
</BaseLayout>
